
/*lo que ponga en el root aplica a todo, es la raiz de la pagina*/
:root{
--naranja:#F90;
--negro: #000000;
--blanco: #FFF;
--gris01: #333;
--gris02: #BBB;
}

body{
background-color: var(--gris01);
font-family: Arial, Helvetica, sans-serif;  
background-image: url(pattern.jpg);
background-attachment: fixed;
/*font famili aplica a hijos pq es "hereditaria"*/
}

h1{
    color: var(--naranja);
}

.contenedor{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /*mismos margenes a los costados*/
}

.cabecera{
display: flex;
justify-content: space-between;
}
.contenido{
background-color: var(--blanco);
border-radius: 8px;
border-right: 1px solid var(--negro);
border-left: 1px solid var(--negro);

padding-bottom: 40px;
}

Nav{
background-color: var(--naranja);
}
.Nav-lista{
display: flex;
list-style-type:none;
padding: 7px 8px ;

}
.Nav-lista a{
display: block;
color: var(--blanco);
padding: 8px;
text-decoration:none;
margin: 0px 3px 0px 3px;
}

.Nav-lista a:hover{
background-color: aqua;
}
.Nav-lista li{
flex-direction: row;
padding: 0%;
}
.Nav-lista form{
    text-align: right;
    min-width: 450px;
}

.slider{
    margin-right: auto;
    margin-left: auto;
    max-width: 940px;
    margin-bottom: 40px;
}