
/*lo que ponga en el root aplica a todo, es la raiz de la pagina*/
:root{
--naranja:#F90;
--negro: #000000;
--blanco: #FFF;
--gris01: #333;
--gris02: #BBB;
}

body{
background-color: var(--gris01);
font-family: Arial, Helvetica, sans-serif;  
background-image: url(pattern.jpg);
background-attachment: fixed;
/*font famili aplica a hijos pq es "hereditaria"*/
}

h1{
    color: var(--naranja);
}

.contenedor{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /*mismos margenes a los costados*/
}

.cabecera{
display: flex;
justify-content: space-between;
}
.contenido{
background-color: var(--blanco);
border-radius: 8px;
border-right: 1px solid var(--negro);
border-left: 1px solid var(--negro);

padding-bottom: 40px;
}

Nav{
background-color: var(--naranja);
flex-grow: 1;

}
.Nav-lista{
display: flex;
list-style-type:none;
padding: 10px 8px ;

}
.Nav-lista a{
display: block;
color: var(--blanco);
padding: 8px;
text-decoration:none;
padding: 5px 5px 5px 5px;
}

.Nav-lista a:hover{
background-color: aqua;
}
.Nav-lista li{
flex-direction: row;
padding: 0%;
}
.Nav-lista form{
    text-align: right;
    min-width: 450px;
    vertical-align: middle;
    background-color: aqua;
}

/*slider*/
.slider{
    margin-right: auto;
    margin-left: auto;
    max-width: 940px;
    margin-bottom: 40px;
}

.main{
    display: grid;
    grid-template-columns: 230px 1fr;
    padding-left: 20px;
    padding-right: 60px;
    margin-bottom:40px;
    /*para el h2categorias y los textos de los productos*/
}

/*categorias*/
.categorias{
}

/*productos*/
.productos{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap:20px;
    /*espacio entre columnas*/
}

.contenedorproductos{
display: flex;
flex-direction: row;
gap: 10px;
}

/*Newsletter*/

.newsletter{
    max-height: 100px;
    width: 900PX;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 35px;
    border: solid var(--gris01) 1px;
    border-radius: 4px;
    background-image: linear-gradient(var(--blanco)70%,var(--gris02));
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

#textonewsletter{
    margin: 0%;
    padding-left: 40px;
}

.newsletterdivtexto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#olapapa{
    margin: 0%;
    padding-left: 80px;
}

.newsletter form{
flex-grow: 1;
text-align: right;
padding-right: 20px;
}

.rojoo{
    color: red  ;
}
